@import url('https://fonts.googleapis.com/css2?family=Inter&family=Manrope:wght@700&family=Poppins:wght@400;500;600;700;800;900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}


header > nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 90px 120px;
}
header .menu-bar {
    display: none;
}
.x-bar{
    display: none;
}
.nav-title h2{
    color: #3A3A3A;
    font-size: 1.5rem;
    font-weight: 700;
}
.nav-bar{
    position: absolute;
    right: 230px;
}
.nav-bar ul{
    display: flex;
    justify-content: space-between;
}
.nav-bar .nav-item{
    list-style: none;
    margin-left: 34px;
}
.nav-item > a{
    text-decoration: none;
    color: #3A3A3A;
    font-size: 1rem;
    font-weight: 600;
}
.nav-item > a:hover{
    border-bottom: 3px solid black;
}
.nav-icons {
    display: flex;
    align-items: center;
    gap: 34px;
}
.nav-icons > i {
    width: 24px;
    height: 24px;
}

/* banner styles */
.btn{
    padding: 10px 24px;
    border-radius: 41px;
    background: #E02C6D;
    color: #FFF;
    font-size: 1rem;
    font-weight: 700;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    cursor: pointer;
}
.btn:hover{
    background: #fa5491;
}
.banner-content h1{
    color: #3A3A3A;
    font-size: 3.25rem;
    font-weight: 700;
    line-height: 70px;
}
.banner-content p{
    color: #3A3A3A;
    font-size: 1rem;
    font-weight: 600;
    padding: 16px 0px
}
.banner-img{
    background-image: url('images/Circle\ design.svg');
    background-repeat: none;
    background-size: cover;
    background-position: center;
    width: 450px;
    height: 450px;
}
.banner-content, .banner-img{
    max-width: 50%;
}
.banner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap:130px;
    padding: 0px 120px;
}

/* sponsor section styles */
.sponsor{
    margin: 65px 165px;
    text-align: center;
}
.sponsor-container{
    display: flex;
    justify-content: space-around;
    padding: 40px 0px;
    border: 1px solid;
    border-image: radial-gradient( rgb(117, 117, 119), rgb(255, 255, 255))1;
    border-left: none;
    border-right: none;
    
}

/* collection section styles */
.collection h2{
    color: #3A3A3A;
    font-size: 1.75rem;
    font-weight: 600;
    line-height: 70px;
    text-align: center;
    margin-bottom: 30px;
}
.collection{
    margin: 0 195px;
}
.card-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap:30px;
}
.card{
    border-radius: 5px;
    background: #FFF;
    box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.15);
    padding: 15px;
    cursor: pointer;
}
.card:hover {
    box-shadow: 0px 0px 40px 0px rgba(46, 44, 44, 0.788);
}
.card img{
    width: 100%;
}
.card-content h3{
    color:#18191F;
    font-size: 1.75rem;
    font-weight: 500;
    line-height: 40px;
    padding: 15px 0px;
}
.price{
    color: rgba(0, 0, 0, 0.87);
    font-family: Inter;
    font-size: 1.5rem;
    font-weight: 400;
    line-height: 150%;
}
.desc{
    color:#787885;
    font-family: Inter;
    font-size: 14px;
    font-weight: 700;
    line-height: 143%;
    letter-spacing: 0.252px;
}
.collection .see-more{
    text-decoration: none;
    color: rgba(224, 44, 109, 0.87);
    font-size: 1rem;
    font-weight: 700;
    position: relative;
    left: 90%;
    top: 50px;
}

/* feature styles */
.btn-1{
    border-radius: 0px;
}
.feature{
    margin: 100px 165px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 95px;
}
.feature-content h2{
    color: #0A0826;
    font-size: 2.375rem;
    font-weight: 700;
    line-height: 60px;
}
.feature-content p{
    color: #6C6C6C;
    font-size: 1rem;
    font-weight: 700;
    line-height: 28px;
    padding: 16px 0px;
}

/* footer styles */
footer{
    background-color: black;
    color: white;
    padding: 50px;
    text-align: center;
}
.footer h2{
    font-size: 24px;
    font-weight: 700;
}
.footer p{
    color: #D9DBE1;
    font-family: Manrope;
    font-size: 14px;
    font-weight: 700;
}
.footer-icons{
    padding-top: 20px;
}
.footer-icons a{
    color: white;
    margin: 20px 12px;
}
.footer-icons i:hover {
    color: rgb(68, 204, 238);
}


/* style for small device */
@media screen and (max-width: 576px){
    header .menu-bar{
        display:inline-block;
    }
    
    .nav-bar{
        top: 90px;
        left: 50%;
        transform: translate(-50%);
        width: 100%;
        border-bottom: 2px solid black;
        z-index: 1;
        background: #FFF;
        display: none;
        height: 0px; 
        transition-property: height;
        transition-duration: 2s;
        
    }
    .open {
        display: block;
        height: auto;
        }

    .nav-bar ul{
        flex-direction: column;
        align-items: center;
    }
    .nav-item > a{
        width: 100%;
    }
    .nav-bar .nav-item {
        list-style: none;
        margin-left: 0px;
        padding: 15px;
        width: 100%;
        box-shadow: 0.5px 0.5px 1px rgb(158, 156, 156);
        text-align: center;
        display: block;
    }
    header>nav{
        padding: 35px 15px;
    }
    .nav-title h2{
        font-size: 16px;
        font-weight: 700;
    }
    .search{
        display: none;
    }
    .cart{
        margin-right: 16px;
    }

    /* banner styles */
    .banner {
        justify-content: space-between;
        align-items: center;
        gap: 0px;
        padding: 18px;
        flex-direction: column-reverse;
        text-align: center;
    }
    .banner-content, .banner-img {
        max-width: none;
    }
    .banner-img{
        margin: 20px 50px;
        width: 257px;
        height: 257px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .banner-img img{
        width: 202px;
        height: 190px;
    }
    .banner-content h1 {
        font-size: 1.75rem;
        font-weight: 700;
        line-height: normal;
    }
    .btn{
        margin: 0 auto;
    }
    /* sponsor section styles */
    .sponsor {
        margin:0px;
        text-align: center;
    }
    .sponsor-container{
        border:none;
        justify-content: space-evenly;
        flex-wrap: wrap;
        padding: 0;
    }
    .sponsor-container img{
        max-width: 100px;
        padding: 30px 20px;
    }

    /* collection styles */
    .collection {
        margin: 0 15px;
    }
    .card-container {
        grid-template-columns: 1fr;
        gap: 15px;
    }
    .collection h2{
        font-size: 1rem;
    }
    .collection .see-more{
        left: 70%;
    }


    /* feature styles */
    .feature{
        flex-direction: column-reverse;
        gap: 0px;
        margin: 50px 30px;
        text-align: center;
    }
    .feature img{
        max-width: 100%;
        margin-top: 30px;
    }
    .feature-content h2{
        color: #0A0826;
        font-size: 1.5rem;
        font-weight: 700;
        line-height: normal;
        margin-top: 50px;
    }
    footer h2{
        font-size: 1rem;
    }
    footer p {
        font-size: 14px;
    }
    .footer-icons i {
        font-size: 16px;
    }


}


/* style for medium device */
@media screen and (min-width: 576px) and (max-width: 992px){
    header .menu-bar {
            display: inline-block;
        }
    
        .nav-bar {
            top: 90px;
            left: 50%;
            transform: translate(-50%);
            width: 100%;
            border-bottom: 2px solid black;
            z-index: 1;
            background: #FFF;
            display: none;
        }
        .open {
            display: block;
            height: auto;
        }
    
        .nav-bar ul {
            flex-direction: column;
            align-items: center;
        }
    
        .nav-item>a {
            width: 100%;
        }
    
        .nav-bar .nav-item {
            list-style: none;
            margin-left: 0px;
            padding: 15px;
            width: 100%;
            /* border-bottom: 1px solid black; */
            box-shadow: 0.5px 0.5px 1px rgb(158, 156, 156);
            text-align: center;
            display: block;
        }
    
        header>nav {
            padding: 35px 15px;
        }
    
        .nav-title h2 {
            font-size: 2rem;
            font-weight: 700;
        }
    
        .search {
            display: block;
        }
    
        .cart {
            margin-right: 16px;
        }

        /* banner styles */
        .banner {
            gap: 20px;
            padding: 25px;
        }
        .banner-content h1 {
            font-size: 1.8rem;
            font-weight: 700;
            line-height: normal;
        }
        .banner-img {
            width: 300px;
            height: 300px;
            display: flex;
            align-items: center;
            justify-content: center;
        }
        .banner-img img{
            width: 300px;
            height: 300px;
        }
        .sponsor {
            margin: 65px;
        }
        .collection {
            margin: 40px;
        }
        .collection .see-more{
            left: 85%;
        }
        .feature {
            gap: 10px;
            margin: 50px 30px;
            text-align: left;
         }
         .feature img{
            max-width: 40%;
         }
        .feature-content h2 {
            color: #0A0826;
            font-size: 1.5rem;
            font-weight: 700;
            line-height: normal;
            margin-top: 0px;
        }
        .feature-content p {
            color: #6C6C6C;
            font-size: 1rem;
            font-weight: 700;
            line-height: normal;
            padding:0px;
        }
        .footer-icons i {
            font-size: 24px;
        }
}
